name: "Para hacer tests en el repo"
on: pull_request

jobs:
  auto-test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Comprueba y analiza
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          node dist/index.js
